<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Blog</title>
    <link rel="stylesheet" th:href="@{/css/application.css}">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
</head>

<body>
    <div class="mx-auto mt-2 p-2 max-w-screen-md">
        <div class="flex flex-row p-1">
            <h1 class="text-3xl font-semibold flex-grow">Personal Blog</h1>
            <a th:href="@{/new}" class="text-slate-400 p-1 font-semibold text-nowrap">+ New</a>
        </div>

        <div th:each="article : ${articles}"
        class="article flex flex-row p-1"
        th:data-id="${article.id.asString()}"
        th:data-title="${article.title}">
            <a th:href="@{'/articles/' + ${article.id.asString()}}" class="flex-grow" th:text="${article.title}"></a>
            <a th:href="@{'/articles/' + ${article.id.asString()} + '/edit'}"
                class="text-slate-400 p-1 font-semibold text-nowrap">Edit</a>
            <form th:action="@{'/articles/' + ${article.id.asString()}}" class="delete-link" th:method="delete">
                <button type="submit" class="text-slate-400 p-1 font-semibold text-nowrap">Delete</button>
            </form>
        </div>
    </div>

    <script>
        document.querySelectorAll('.article .delete-link').forEach(form => {
            form.addEventListener('submit', (event) => {
                const article = event.target.closest('.article');
                const title = article.dataset.title;
                event.preventDefault();
                if (confirm(`Are you sure you want to delete '${title}?'`)) {
                    form.submit();
                }
            });
        });
    </script>
</body>

</html>