<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${editMode.name == 'CREATE'} ? 'New article' : 'Update article'">TITLE</title>
    <link rel="stylesheet" th:href="@{/css/application.css}">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
</head>

<body class="mx-auto mt-2 p-2 max-w-screen-md">

    <h1 class="text-4xl pb-2" th:text="${editMode.name == 'CREATE'} ? 'New article' : 'Update article'"></h1>

    <form id="article-form" th:object="${article}"
        th:action="@{${editMode.name == 'CREATE'} ? '/articles' : '/articles/' + ${article.id}}"
        method="post" class="flex flex-col p-1">
        <input th:if="${editMode?.name() == 'UPDATE'}" th:field="*{version}" type="hidden">
        <div class="flex flex-col p-1 pb-4">
            <label for="title" class="text-slate-500 font-semibold w-full">Title</label>
            <input type="text" id="title" name="title" th:field="*{title}" required minlength="5" maxlength="100"
                class="p-1 border border-slate-300 w-full">
        </div>

        <div class="flex flex-col p-1 pb-4">
            <label for="publishDate" class="text-slate-500 font-semibold w-full">Publish date</label>
            <input type="date" id="publishDate" name="publishDate" th:field="*{publishDate}" required
                class="p-1 border border-slate-300 w-full">
        </div>

        <div class="flex flex-col p-1 pb-4">
            <label for="content" class="text-slate-500 font-semibold w-full">Content</label>
            <textarea id="content" name="content" th:field="*{content}" required minlength="20" maxlength="10000"
                class="p-1 border border-slate-300 w-full" rows="10"></textarea>
        </div>

        <div class="flex flex-row p-1 justify-end">
            <button type="reset" class="bg-slate-500 text-white px-4 py-2 font-semibold rounded mr-2">Reset</button>
            <button type="submit" class="bg-green-500 text-white px-4 py-2 font-semibold rounded">Save</button>
        </div>
    </form>

</body>

</html>